/*Generales*/
a {
    color: #ffffff;
    text-decoration: none;
}
a:hover {
    color: #ffffff;
}
a:visited {
    color: #ffffff;
}
.container {
    margin: 30px auto;
    max-width: 1200px;
}
/* Algo le hace el chart que lo desencadena .nav {
    display: flex;
    padding: 10px;
    flex-direction: column;
}
*/
@media (min-width: 420px) {
    .nav {
        display: flex;
        padding: 10px;
        align-items: flex-start;
    }
}

/*Main*/

.nav button {
    margin-bottom: 10px;
}
@media (min-width: 420px) {
    .nav button {
        color: #ffffff;
        border: none;
        margin-left: 10px;
        font-weight: bold;
        background-color: #adadad;
        transition: 0.3s ease-in-out;
        border-radius: 5px;
        padding: 10px;
        width: 200px;
        text-transform: uppercase;
    }
}   

.nav button:hover {
    background-color: #e6e3e3;
    
}

/*ApexChart*/

#chart {
    padding: 0;
    max-width: 380px;
    margin: 35px auto;
    min-height: 500px!important;
  }


/*Fix*/
.swal2-popup {
    font-size: 1.6rem !important;
  }

